body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
}

h3 {
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

.info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.experiencia p {
    margin-bottom: 10px;
}

.habilidades ul {
    list-style-type: none;
    padding: 0;
}

.habilidades li {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#successMessage {
    color: green;
}

.hidden {
    display: none;
}
